$theme-1: (
  worker_color: $white-100,
  worker_hover_bg_color: $gray-300,
  worker_checked_bg_color: $blue-200,
  worker_checked_hover_bg_color: $blue-100,
  worker_status_color: $red-100,
  worker_status_completed_color: $green-200,
  workers_header_status_btn_color: $white-100,
  workers_header_status_btn_bg_color: $gray-100,
  loader_circle_bg_color: $violet-100,
  loader_circle_bounce_bg_color: $green-100,
);
